.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode a {
    color: #9cf;
}

.dark-mode .post-container {
    background-color: #444;
}

.dark-mode header .site-heading,
.dark-mode header .post-heading,
.dark-mode header .page-heading {
    color: #fff;
}

.dark-mode hr {
    border-color: rgba(255, 255, 255, 0.2);
}

.dark-mode .navbar-custom {
    background-color: #222;
}

.dark-mode .navbar-custom .nav li a {
    color: #ddd;
}

.dark-mode .navbar-custom .navbar-brand {
    color: #fff;
}

.dark-mode footer {
    background-color: #222;
    color: #ddd;
}

/* 切换按钮样式 */
#toggleMode {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#toggleMode:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
